Pandas

In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [4]:
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

In [6]:
series1=pd.Series({'Pname': 'Shashank', 'Mobile':'841512151'})

In [7]:
series1.index

Index(['Pname', 'Mobile'], dtype='object')

Indexes for Series

In [12]:
n = pd.Series([10,20,30,40,50], index=['A','B',"C",'D','E'])
n

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [13]:
n['D']

40

Updating the Series

In [15]:
n['D']=500

In [18]:
series1.max()

'Shashank'

In [20]:
series1.min()

'841512151'

In [24]:
n.idxmax()

'D'

DATA FRAME : Combination of of several Individual series

In [34]:
df=pd.DataFrame({'ProductId': [10,20,30,40],'Pname': ['A', 'B','C','D']})
df

   ProductId Pname
0         10     A
1         20     B
2         30     C
3         40     D

In [52]:
pid = pd.Series([10,20,30])
pname = pd.Series(['A','B','C'])

ind=['ProductA','ProductB','ProductC']

df = pd.DataFrame({'PId':pid,'PName':pname})
df

   PId PName
0   10     A
1   20     B
2   30     C

Changing Column name

In [53]:
df.columns= ['Id', 'Name']
df.columns

Index(['Id', 'Name'], dtype='object')

Changing Index Names

In [54]:
df.index= ind
df

          Id Name
ProductA  10    A
ProductB  20    B
ProductC  30    C

Creating DF with Indexes & Column names

In [56]:
pd.DataFrame([['P1',999],['P2',6541]], index=['A','B'], columns=['Id','Price'])

   Id  Price
A  P1    999
B  P2   6541

Movie Lens Dataset : Pandas

In [67]:
df = pd.read_csv('ratings.csv', usecols=['userId']).squeeze()
type(df)
df

0           1
1           1
2           1
3           1
4           1
         ...
100831    610
100832    610
100833    610
100834    610
100835    610
Name: userId, Length: 100836, dtype: int64

In [68]:
df = pd.read_csv('ratings.csv', usecols=['userId','movieId']).squeeze()
type(df)

pandas.core.frame.DataFrame