Pandas

In [247]:
import pandas as pd

In [248]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [249]:
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

In [250]:
series1=pd.Series({'Pname': 'Shashank', 'Mobile':'841512151'})

In [251]:
series1.index

Index(['Pname', 'Mobile'], dtype='object')

Indexes for Series

In [252]:
n = pd.Series([10,20,30,40,50], index=['A','B',"C",'D','E'])
n

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [253]:
n['D']

40

Updating the Series

In [254]:
n['D']=500

In [255]:
series1.max()

'Shashank'

In [256]:
series1.min()

'841512151'

In [257]:
n.idxmax()

'D'

DATA FRAME : Combination of of several Individual series

In [258]:
df=pd.DataFrame({'ProductId': [10,20,30,40],'Pname': ['A', 'B','C','D']})
df

   ProductId Pname
0         10     A
1         20     B
2         30     C
3         40     D

In [259]:
pid = pd.Series([10,20,30])
pname = pd.Series(['A','B','C'])

ind=['ProductA','ProductB','ProductC']

df = pd.DataFrame({'PId':pid,'PName':pname})
df

   PId PName
0   10     A
1   20     B
2   30     C

Changing Column name

In [260]:
df.columns= ['Id', 'Name']
df.columns

Index(['Id', 'Name'], dtype='object')

Changing Index Names

In [261]:
df.index= ind
df

          Id Name
ProductA  10    A
ProductB  20    B
ProductC  30    C

Creating DF with Indexes & Column names

In [262]:
pd.DataFrame([['P1',999],['P2',6541]], index=['A','B'], columns=['Id','Price'])

   Id  Price
A  P1    999
B  P2   6541

Movie Lens Dataset : Pandas

In [263]:
df = pd.read_csv('ratings.csv', usecols=['userId']).squeeze()
type(df)
df

FileNotFoundError: [Errno 2] No such file or directory: 'ratings.csv'

In [ ]:
df = pd.read_csv('ratings.csv', usecols=['userId','movieId']).squeeze()
type(df)

pandas.core.frame.DataFrame

Datasets : PokemonDataSet

In [ ]:
df = pd.read_csv(r'C:\Users\Miles\Documents\Futurense\Python\Datasets\pokemon_data.csv')
df.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [ ]:
pokemonSeries = pd.read_csv(r'C:\Users\Miles\Documents\Futurense\Python\Datasets\pokemon_data.csv', usecols=['Pokemon']).squeeze()
pokemonSeries.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
print('length',len(pokemonSeries))
print('Max:',max(pokemonSeries))
print('Min:',min(pokemonSeries))

length 721
Max: Zygarde
Min: Abomasnow

In [ ]:
type(sorted(pokemonSeries))

list

Series to Dictionary

In [ ]:
pokDict= dict (pokemonSeries)

In [ ]:
pokDict

{0: 'Bulbasaur',
 1: 'Ivysaur',
 2: 'Venusaur',
 3: 'Charmander',
 4: 'Charmeleon',
 5: 'Charizard',
 6: 'Squirtle',
 7: 'Wartortle',
 8: 'Blastoise',
 9: 'Caterpie',
 10: 'Metapod',
 11: 'Butterfree',
 12: 'Weedle',
 13: 'Kakuna',
 14: 'Beedrill',
 15: 'Pidgey',
 16: 'Pidgeotto',
 17: 'Pidgeot',
 18: 'Rattata',
 19: 'Raticate',
 20: 'Spearow',
 21: 'Fearow',
 22: 'Ekans',
 23: 'Arbok',
 24: 'Pikachu',
 25: 'Raichu',
 26: 'Sandshrew',
 27: 'Sandslash',
 28: 'Nidoran',
 29: 'Nidorina',
 30: 'Nidoqueen',
 31: 'Nidoran♂',
 32: 'Nidorino',
 33: 'Nidoking',
 34: 'Clefairy',
 35: 'Clefable',
 36: 'Vulpix',
 37: 'Ninetales',
 38: 'Jigglypuff',
 39: 'Wigglytuff',
 40: 'Zubat',
 41: 'Golbat',
 42: 'Oddish',
 43: 'Gloom',
 44: 'Vileplume',
 45: 'Paras',
 46: 'Parasect',
 47: 'Venonat',
 48: 'Venomoth',
 49: 'Diglett',
 50: 'Dugtrio',
 51: 'Meowth',
 52: 'Persian',
 53: 'Psyduck',
 54: 'Golduck',
 55: 'Mankey',
 56: 'Primeape',
 57: 'Growlithe',
 58: 'Arcanine',
 59: 'Poliwag',
 60: 'Poliwhirl',
 61: 'Poliwrath',
 62: 'Abra',
 63: 'Kadabra',
 64: 'Alakazam',
 65: 'Machop',
 66: 'Machoke',
 67: 'Machamp',
 68: 'Bellsprout',
 69: 'Weepinbell',
 70: 'Victreebel',
 71: 'Tentacool',
 72: 'Tentacruel',
 73: 'Geodude',
 74: 'Graveler',
 75: 'Golem',
 76: 'Ponyta',
 77: 'Rapidash',
 78: 'Slowpoke',
 79: 'Slowbro',
 80: 'Magnemite',
 81: 'Magneton',
 82: "Farfetch'd",
 83: 'Doduo',
 84: 'Dodrio',
 85: 'Seel',
 86: 'Dewgong',
 87: 'Grimer',
 88: 'Muk',
 89: 'Shellder',
 90: 'Cloyster',
 91: 'Gastly',
 92: 'Haunter',
 93: 'Gengar',
 94: 'Onix',
 95: 'Drowzee',
 96: 'Hypno',
 97: 'Krabby',
 98: 'Kingler',
 99: 'Voltorb',
 100: 'Electrode',
 101: 'Exeggcute',
 102: 'Exeggutor',
 103: 'Cubone',
 104: 'Marowak',
 105: 'Hitmonlee',
 106: 'Hitmonchan',
 107: 'Lickitung',
 108: 'Koffing',
 109: 'Weezing',
 110: 'Rhyhorn',
 111: 'Rhydon',
 112: 'Chansey',
 113: 'Tangela',
 114: 'Kangaskhan',
 115: 'Horsea',
 116: 'Seadra',
 117: 'Goldeen',
 118: 'Seaking',
 119: 'Staryu',
 120: 'Starmie',
 121: 'Mr. Mime',
 122: 'Scyther',
 123: 'Jynx',
 124: 'Electabuzz',
 125: 'Magmar',
 126: 'Pinsir',
 127: 'Tauros',
 128: 'Magikarp',
 129: 'Gyarados',
 130: 'Lapras',
 131: 'Ditto',
 132: 'Eevee',
 133: 'Vaporeon',
 134: 'Jolteon',
 135: 'Flareon',
 136: 'Porygon',
 137: 'Omanyte',
 138: 'Omastar',
 139: 'Kabuto',
 140: 'Kabutops',
 141: 'Aerodactyl',
 142: 'Snorlax',
 143: 'Articuno',
 144: 'Zapdos',
 145: 'Moltres',
 146: 'Dratini',
 147: 'Dragonair',
 148: 'Dragonite',
 149: 'Mewtwo',
 150: 'Mew',
 151: 'Chikorita',
 152: 'Bayleef',
 153: 'Meganium',
 154: 'Cyndaquil',
 155: 'Quilava',
 156: 'Typhlosion',
 157: 'Totodile',
 158: 'Croconaw',
 159: 'Feraligatr',
 160: 'Sentret',
 161: 'Furret',
 162: 'Hoothoot',
 163: 'Noctowl',
 164: 'Ledyba',
 165: 'Ledian',
 166: 'Spinarak',
 167: 'Ariados',
 168: 'Crobat',
 169: 'Chinchou',
 170: 'Lanturn',
 171: 'Pichu',
 172: 'Cleffa',
 173: 'Igglybuff',
 174: 'Togepi',
 175: 'Togetic',
 176: 'Natu',
 177: 'Xatu',
 178: 'Mareep',
 179: 'Flaaffy',
 180: 'Ampharos',
 181: 'Bellossom',
 182: 'Marill',
 183: 'Azumarill',
 184: 'Sudowoodo',
 185: 'Politoed',
 186: 'Hoppip',
 187: 'Skiploom',
 188: 'Jumpluff',
 189: 'Aipom',
 190: 'Sunkern',
 191: 'Sunflora',
 192: 'Yanma',
 193: 'Wooper',
 194: 'Quagsire',
 195: 'Espeon',
 196: 'Umbreon',
 197: 'Murkrow',
 198: 'Slowking',
 199: 'Misdreavus',
 200: 'Unown',
 201: 'Wobbuffet',
 202: 'Girafarig',
 203: 'Pineco',
 204: 'Forretress',
 205: 'Dunsparce',
 206: 'Gligar',
 207: 'Steelix',
 208: 'Snubbull',
 209: 'Granbull',
 210: 'Qwilfish',
 211: 'Scizor',
 212: 'Shuckle',
 213: 'Heracross',
 214: 'Sneasel',
 215: 'Teddiursa',
 216: 'Ursaring',
 217: 'Slugma',
 218: 'Magcargo',
 219: 'Swinub',
 220: 'Piloswine',
 221: 'Corsola',
 222: 'Remoraid',
 223: 'Octillery',
 224: 'Delibird',
 225: 'Mantine',
 226: 'Skarmory',
 227: 'Houndour',
 228: 'Houndoom',
 229: 'Kingdra',
 230: 'Phanpy',
 231: 'Donphan',
 232: 'Porygon2',
 233: 'Stantler',
 234: 'Smeargle',
 235: 'Tyrogue',
 236: 'Hitmontop',
 237: 'Smoochum',
 238: 'Elekid',
 239: 'Magby',
 240: 'Miltank',
 241: 'Blissey',
 242: 'Raikou',
 243: 'Entei',
 244: 'Suicune',
 245: 'Larvitar',
 246: 'Pupitar',
 247: 'Tyranitar',
 248: 'Lugia',
 249: 'Ho-oh',
 250: 'Celebi',
 251: 'Treecko',
 252: 'Grovyle',
 253: 'Sceptile',
 254: 'Torchic',
 255: 'Combusken',
 256: 'Blaziken',
 257: 'Mudkip',
 258: 'Marshtomp',
 259: 'Swampert',
 260: 'Poochyena',
 261: 'Mightyena',
 262: 'Zigzagoon',
 263: 'Linoone',
 264: 'Wurmple',
 265: 'Silcoon',
 266: 'Beautifly',
 267: 'Cascoon',
 268: 'Dustox',
 269: 'Lotad',
 270: 'Lombre',
 271: 'Ludicolo',
 272: 'Seedot',
 273: 'Nuzleaf',
 274: 'Shiftry',
 275: 'Taillow',
 276: 'Swellow',
 277: 'Wingull',
 278: 'Pelipper',
 279: 'Ralts',
 280: 'Kirlia',
 281: 'Gardevoir',
 282: 'Surskit',
 283: 'Masquerain',
 284: 'Shroomish',
 285: 'Breloom',
 286: 'Slakoth',
 287: 'Vigoroth',
 288: 'Slaking',
 289: 'Nincada',
 290: 'Ninjask',
 291: 'Shedinja',
 292: 'Whismur',
 293: 'Loudred',
 294: 'Exploud',
 295: 'Makuhita',
 296: 'Hariyama',
 297: 'Azurill',
 298: 'Nosepass',
 299: 'Skitty',
 300: 'Delcatty',
 301: 'Sableye',
 302: 'Mawile',
 303: 'Aron',
 304: 'Lairon',
 305: 'Aggron',
 306: 'Meditite',
 307: 'Medicham',
 308: 'Electrike',
 309: 'Manectric',
 310: 'Plusle',
 311: 'Minun',
 312: 'Volbeat',
 313: 'Illumise',
 314: 'Roselia',
 315: 'Gulpin',
 316: 'Swalot',
 317: 'Carvanha',
 318: 'Sharpedo',
 319: 'Wailmer',
 320: 'Wailord',
 321: 'Numel',
 322: 'Camerupt',
 323: 'Torkoal',
 324: 'Spoink',
 325: 'Grumpig',
 326: 'Spinda',
 327: 'Trapinch',
 328: 'Vibrava',
 329: 'Flygon',
 330: 'Cacnea',
 331: 'Cacturne',
 332: 'Swablu',
 333: 'Altaria',
 334: 'Zangoose',
 335: 'Seviper',
 336: 'Lunatone',
 337: 'Solrock',
 338: 'Barboach',
 339: 'Whiscash',
 340: 'Corphish',
 341: 'Crawdaunt',
 342: 'Baltoy',
 343: 'Claydol',
 344: 'Lileep',
 345: 'Cradily',
 346: 'Anorith',
 347: 'Armaldo',
 348: 'Feebas',
 349: 'Milotic',
 350: 'Castform',
 351: 'Kecleon',
 352: 'Shuppet',
 353: 'Banette',
 354: 'Duskull',
 355: 'Dusclops',
 356: 'Tropius',
 357: 'Chimecho',
 358: 'Absol',
 359: 'Wynaut',
 360: 'Snorunt',
 361: 'Glalie',
 362: 'Spheal',
 363: 'Sealeo',
 364: 'Walrein',
 365: 'Clamperl',
 366: 'Huntail',
 367: 'Gorebyss',
 368: 'Relicanth',
 369: 'Luvdisc',
 370: 'Bagon',
 371: 'Shelgon',
 372: 'Salamence',
 373: 'Beldum',
 374: 'Metang',
 375: 'Metagross',
 376: 'Regirock',
 377: 'Regice',
 378: 'Registeel',
 379: 'Latias',
 380: 'Latios',
 381: 'Kyogre',
 382: 'Groudon',
 383: 'Rayquaza',
 384: 'Jirachi',
 385: 'Deoxys',
 386: 'Turtwig',
 387: 'Grotle',
 388: 'Torterra',
 389: 'Chimchar',
 390: 'Monferno',
 391: 'Infernape',
 392: 'Piplup',
 393: 'Prinplup',
 394: 'Empoleon',
 395: 'Starly',
 396: 'Staravia',
 397: 'Staraptor',
 398: 'Bidoof',
 399: 'Bibarel',
 400: 'Kricketot',
 401: 'Kricketune',
 402: 'Shinx',
 403: 'Luxio',
 404: 'Luxray',
 405: 'Budew',
 406: 'Roserade',
 407: 'Cranidos',
 408: 'Rampardos',
 409: 'Shieldon',
 410: 'Bastiodon',
 411: 'Burmy',
 412: 'Wormadam',
 413: 'Mothim',
 414: 'Combee',
 415: 'Vespiquen',
 416: 'Pachirisu',
 417: 'Buizel',
 418: 'Floatzel',
 419: 'Cherubi',
 420: 'Cherrim',
 421: 'Shellos',
 422: 'Gastrodon',
 423: 'Ambipom',
 424: 'Drifloon',
 425: 'Drifblim',
 426: 'Buneary',
 427: 'Lopunny',
 428: 'Mismagius',
 429: 'Honchkrow',
 430: 'Glameow',
 431: 'Purugly',
 432: 'Chingling',
 433: 'Stunky',
 434: 'Skuntank',
 435: 'Bronzor',
 436: 'Bronzong',
 437: 'Bonsly',
 438: 'Mime Jr.',
 439: 'Happiny',
 440: 'Chatot',
 441: 'Spiritomb',
 442: 'Gible',
 443: 'Gabite',
 444: 'Garchomp',
 445: 'Munchlax',
 446: 'Riolu',
 447: 'Lucario',
 448: 'Hippopotas',
 449: 'Hippowdon',
 450: 'Skorupi',
 451: 'Drapion',
 452: 'Croagunk',
 453: 'Toxicroak',
 454: 'Carnivine',
 455: 'Finneon',
 456: 'Lumineon',
 457: 'Mantyke',
 458: 'Snover',
 459: 'Abomasnow',
 460: 'Weavile',
 461: 'Magnezone',
 462: 'Lickilicky',
 463: 'Rhyperior',
 464: 'Tangrowth',
 465: 'Electivire',
 466: 'Magmortar',
 467: 'Togekiss',
 468: 'Yanmega',
 469: 'Leafeon',
 470: 'Glaceon',
 471: 'Gliscor',
 472: 'Mamoswine',
 473: 'Porygon-Z',
 474: 'Gallade',
 475: 'Probopass',
 476: 'Dusknoir',
 477: 'Froslass',
 478: 'Rotom',
 479: 'Uxie',
 480: 'Mesprit',
 481: 'Azelf',
 482: 'Dialga',
 483: 'Palkia',
 484: 'Heatran',
 485: 'Regigigas',
 486: 'Giratina',
 487: 'Cresselia',
 488: 'Phione',
 489: 'Manaphy',
 490: 'Darkrai',
 491: 'Shaymin',
 492: 'Arceus',
 493: 'Victini',
 494: 'Snivy',
 495: 'Servine',
 496: 'Serperior',
 497: 'Tepig',
 498: 'Pignite',
 499: 'Emboar',
 500: 'Oshawott',
 501: 'Dewott',
 502: 'Samurott',
 503: 'Patrat',
 504: 'Watchog',
 505: 'Lillipup',
 506: 'Herdier',
 507: 'Stoutland',
 508: 'Purrloin',
 509: 'Liepard',
 510: 'Pansage',
 511: 'Simisage',
 512: 'Pansear',
 513: 'Simisear',
 514: 'Panpour',
 515: 'Simipour',
 516: 'Munna',
 517: 'Musharna',
 518: 'Pidove',
 519: 'Tranquill',
 520: 'Unfezant',
 521: 'Blitzle',
 522: 'Zebstrika',
 523: 'Roggenrola',
 524: 'Boldore',
 525: 'Gigalith',
 526: 'Woobat',
 527: 'Swoobat',
 528: 'Drilbur',
 529: 'Excadrill',
 530: 'Audino',
 531: 'Timburr',
 532: 'Gurdurr',
 533: 'Conkeldurr',
 534: 'Tympole',
 535: 'Palpitoad',
 536: 'Seismitoad',
 537: 'Throh',
 538: 'Sawk',
 539: 'Sewaddle',
 540: 'Swadloon',
 541: 'Leavanny',
 542: 'Venipede',
 543: 'Whirlipede',
 544: 'Scolipede',
 545: 'Cottonee',
 546: 'Whimsicott',
 547: 'Petilil',
 548: 'Lilligant',
 549: 'Basculin',
 550: 'Sandile',
 551: 'Krokorok',
 552: 'Krookodile',
 553: 'Darumaka',
 554: 'Darmanitan',
 555: 'Maractus',
 556: 'Dwebble',
 557: 'Crustle',
 558: 'Scraggy',
 559: 'Scrafty',
 560: 'Sigilyph',
 561: 'Yamask',
 562: 'Cofagrigus',
 563: 'Tirtouga',
 564: 'Carracosta',
 565: 'Archen',
 566: 'Archeops',
 567: 'Trubbish',
 568: 'Garbodor',
 569: 'Zorua',
 570: 'Zoroark',
 571: 'Minccino',
 572: 'Cinccino',
 573: 'Gothita',
 574: 'Gothorita',
 575: 'Gothitelle',
 576: 'Solosis',
 577: 'Duosion',
 578: 'Reuniclus',
 579: 'Ducklett',
 580: 'Swanna',
 581: 'Vanillite',
 582: 'Vanillish',
 583: 'Vanilluxe',
 584: 'Deerling',
 585: 'Sawsbuck',
 586: 'Emolga',
 587: 'Karrablast',
 588: 'Escavalier',
 589: 'Foongus',
 590: 'Amoonguss',
 591: 'Frillish',
 592: 'Jellicent',
 593: 'Alomomola',
 594: 'Joltik',
 595: 'Galvantula',
 596: 'Ferroseed',
 597: 'Ferrothorn',
 598: 'Klink',
 599: 'Klang',
 600: 'Klinklang',
 601: 'Tynamo',
 602: 'Eelektrik',
 603: 'Eelektross',
 604: 'Elgyem',
 605: 'Beheeyem',
 606: 'Litwick',
 607: 'Lampent',
 608: 'Chandelure',
 609: 'Axew',
 610: 'Fraxure',
 611: 'Haxorus',
 612: 'Cubchoo',
 613: 'Beartic',
 614: 'Cryogonal',
 615: 'Shelmet',
 616: 'Accelgor',
 617: 'Stunfisk',
 618: 'Mienfoo',
 619: 'Mienshao',
 620: 'Druddigon',
 621: 'Golett',
 622: 'Golurk',
 623: 'Pawniard',
 624: 'Bisharp',
 625: 'Bouffalant',
 626: 'Rufflet',
 627: 'Braviary',
 628: 'Vullaby',
 629: 'Mandibuzz',
 630: 'Heatmor',
 631: 'Durant',
 632: 'Deino',
 633: 'Zweilous',
 634: 'Hydreigon',
 635: 'Larvesta',
 636: 'Volcarona',
 637: 'Cobalion',
 638: 'Terrakion',
 639: 'Virizion',
 640: 'Tornadus',
 641: 'Thundurus',
 642: 'Reshiram',
 643: 'Zekrom',
 644: 'Landorus',
 645: 'Kyurem',
 646: 'Keldeo',
 647: 'Meloetta',
 648: 'Genesect',
 649: 'Chespin',
 650: 'Quilladin',
 651: 'Chesnaught',
 652: 'Fennekin',
 653: 'Braixen',
 654: 'Delphox',
 655: 'Froakie',
 656: 'Frogadier',
 657: 'Greninja',
 658: 'Bunnelby',
 659: 'Diggersby',
 660: 'Fletchling',
 661: 'Fletchinder',
 662: 'Talonflame',
 663: 'Scatterbug',
 664: 'Spewpa',
 665: 'Vivillon',
 666: 'Litleo',
 667: 'Pyroar',
 668: 'Flabébé',
 669: 'Floette',
 670: 'Florges',
 671: 'Skiddo',
 672: 'Gogoat',
 673: 'Pancham',
 674: 'Pangoro',
 675: 'Furfrou',
 676: 'Espurr',
 677: 'Meowstic',
 678: 'Honedge',
 679: 'Doublade',
 680: 'Aegislash',
 681: 'Spritzee',
 682: 'Aromatisse',
 683: 'Swirlix',
 684: 'Slurpuff',
 685: 'Inkay',
 686: 'Malamar',
 687: 'Binacle',
 688: 'Barbaracle',
 689: 'Skrelp',
 690: 'Dragalge',
 691: 'Clauncher',
 692: 'Clawitzer',
 693: 'Helioptile',
 694: 'Heliolisk',
 695: 'Tyrunt',
 696: 'Tyrantrum',
 697: 'Amaura',
 698: 'Aurorus',
 699: 'Sylveon',
 700: 'Hawlucha',
 701: 'Dedenne',
 702: 'Carbink',
 703: 'Goomy',
 704: 'Sliggoo',
 705: 'Goodra',
 706: 'Klefki',
 707: 'Phantump',
 708: 'Trevenant',
 709: 'Pumpkaboo',
 710: 'Gourgeist',
 711: 'Bergmite',
 712: 'Avalugg',
 713: 'Noibat',
 714: 'Noivern',
 715: 'Xerneas',
 716: 'Yveltal',
 717: 'Zygarde',
 718: 'Diancie',
 719: 'Hoopa',
 720: 'Volcanion'}

Sorting

In [ ]:
pokemonSeries.sort_values(ignore_index=True,ascending=False,).head(7)

0      Zygarde
1     Zweilous
2        Zubat
3        Zorua
4      Zoroark
5    Zigzagoon
6       Zekrom
Name: Pokemon, dtype: object

Pokemon as Index

In [ ]:
typeSeries = pd.read_csv(r'C:\Users\Miles\Documents\Futurense\Python\Datasets\pokemon_data.csv',index_col=['Pokemon']).squeeze()
typeSeries

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

Row Label Indexing

In [ ]:
typeSeries.sort_index()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [ ]:
for i,v in enumerate(typeSeries):
    print(i,v)

0 Grass
1 Grass
2 Grass
3 Fire
4 Fire
5 Fire
6 Water
7 Water
8 Water
9 Bug
10 Bug
11 Bug
12 Bug
13 Bug
14 Bug
15 Normal
16 Normal
17 Normal
18 Normal
19 Normal
20 Normal
21 Normal
22 Poison
23 Poison
24 Electric
25 Electric
26 Ground
27 Ground
28 Poison
29 Poison
30 Poison
31 Poison
32 Poison
33 Poison
34 Fairy
35 Fairy
36 Fire
37 Fire
38 Normal
39 Normal
40 Poison
41 Poison
42 Grass
43 Grass
44 Grass
45 Bug
46 Bug
47 Bug
48 Bug
49 Ground
50 Ground
51 Normal
52 Normal
53 Water
54 Water
55 Fighting
56 Fighting
57 Fire
58 Fire
59 Water
60 Water
61 Water
62 Psychic
63 Psychic
64 Psychic
65 Fighting
66 Fighting
67 Fighting
68 Grass
69 Grass
70 Grass
71 Water
72 Water
73 Rock
74 Rock
75 Rock
76 Fire
77 Fire
78 Water
79 Water
80 Electric
81 Electric
82 Normal
83 Normal
84 Normal
85 Water
86 Water
87 Poison
88 Poison
89 Water
90 Water
91 Ghost
92 Ghost
93 Ghost
94 Rock
95 Psychic
96 Psychic
97 Water
98 Water
99 Electric
100 Electric
101 Grass
102 Grass
103 Ground
104 Ground
105 Fighting
106 Fighting
107 Normal
108 Poison
109 Poison
110 Ground
111 Ground
112 Normal
113 Grass
114 Normal
115 Water
116 Water
117 Water
118 Water
119 Water
120 Water
121 Psychic
122 Bug
123 Ice
124 Electric
125 Fire
126 Bug
127 Normal
128 Water
129 Water
130 Water
131 Normal
132 Normal
133 Water
134 Electric
135 Fire
136 Normal
137 Rock
138 Rock
139 Rock
140 Rock
141 Rock
142 Normal
143 Ice
144 Electric
145 Fire
146 Dragon
147 Dragon
148 Dragon
149 Psychic
150 Psychic
151 Grass
152 Grass
153 Grass
154 Fire
155 Fire
156 Fire
157 Water
158 Water
159 Water
160 Normal
161 Normal
162 Normal
163 Normal
164 Bug
165 Bug
166 Bug
167 Bug
168 Poison
169 Water
170 Water
171 Electric
172 Fairy
173 Normal
174 Fairy
175 Fairy
176 Psychic
177 Psychic
178 Electric
179 Electric
180 Electric
181 Grass
182 Water
183 Water
184 Rock
185 Water
186 Grass
187 Grass
188 Grass
189 Normal
190 Grass
191 Grass
192 Bug
193 Water
194 Water
195 Psychic
196 Dark
197 Dark
198 Water
199 Ghost
200 Psychic
201 Psychic
202 Normal
203 Bug
204 Bug
205 Normal
206 Ground
207 Steel
208 Fairy
209 Fairy
210 Water
211 Bug
212 Bug
213 Bug
214 Dark
215 Normal
216 Normal
217 Fire
218 Fire
219 Ice
220 Ice
221 Water
222 Water
223 Water
224 Ice
225 Water
226 Steel
227 Dark
228 Dark
229 Water
230 Ground
231 Ground
232 Normal
233 Normal
234 Normal
235 Fighting
236 Fighting
237 Ice
238 Electric
239 Fire
240 Normal
241 Normal
242 Electric
243 Fire
244 Water
245 Rock
246 Rock
247 Rock
248 Psychic
249 Fire
250 Psychic
251 Grass
252 Grass
253 Grass
254 Fire
255 Fire
256 Fire
257 Water
258 Water
259 Water
260 Dark
261 Dark
262 Normal
263 Normal
264 Bug
265 Bug
266 Bug
267 Bug
268 Bug
269 Water
270 Water
271 Water
272 Grass
273 Grass
274 Grass
275 Normal
276 Normal
277 Water
278 Water
279 Psychic
280 Psychic
281 Psychic
282 Bug
283 Bug
284 Grass
285 Grass
286 Normal
287 Normal
288 Normal
289 Bug
290 Bug
291 Bug
292 Normal
293 Normal
294 Normal
295 Fighting
296 Fighting
297 Normal
298 Rock
299 Normal
300 Normal
301 Dark
302 Steel
303 Steel
304 Steel
305 Steel
306 Fighting
307 Fighting
308 Electric
309 Electric
310 Electric
311 Electric
312 Bug
313 Bug
314 Grass
315 Poison
316 Poison
317 Water
318 Water
319 Water
320 Water
321 Fire
322 Fire
323 Fire
324 Psychic
325 Psychic
326 Normal
327 Ground
328 Ground
329 Ground
330 Grass
331 Grass
332 Normal
333 Dragon
334 Normal
335 Poison
336 Rock
337 Rock
338 Water
339 Water
340 Water
341 Water
342 Ground
343 Ground
344 Rock
345 Rock
346 Rock
347 Rock
348 Water
349 Water
350 Normal
351 Normal
352 Ghost
353 Ghost
354 Ghost
355 Ghost
356 Grass
357 Psychic
358 Dark
359 Psychic
360 Ice
361 Ice
362 Ice
363 Ice
364 Ice
365 Water
366 Water
367 Water
368 Water
369 Water
370 Dragon
371 Dragon
372 Dragon
373 Steel
374 Steel
375 Steel
376 Rock
377 Ice
378 Steel
379 Dragon
380 Dragon
381 Water
382 Ground
383 Dragon
384 Steel
385 Psychic
386 Grass
387 Grass
388 Grass
389 Fire
390 Fire
391 Fire
392 Water
393 Water
394 Water
395 Normal
396 Normal
397 Normal
398 Normal
399 Normal
400 Bug
401 Bug
402 Electric
403 Electric
404 Electric
405 Grass
406 Grass
407 Rock
408 Rock
409 Rock
410 Rock
411 Bug
412 Bug
413 Bug
414 Bug
415 Bug
416 Electric
417 Water
418 Water
419 Grass
420 Grass
421 Water
422 Water
423 Normal
424 Ghost
425 Ghost
426 Normal
427 Normal
428 Ghost
429 Dark
430 Normal
431 Normal
432 Psychic
433 Poison
434 Poison
435 Steel
436 Steel
437 Rock
438 Psychic
439 Normal
440 Normal
441 Ghost
442 Dragon
443 Dragon
444 Dragon
445 Normal
446 Fighting
447 Fighting
448 Ground
449 Ground
450 Poison
451 Poison
452 Poison
453 Poison
454 Grass
455 Water
456 Water
457 Water
458 Grass
459 Grass
460 Dark
461 Electric
462 Normal
463 Ground
464 Grass
465 Electric
466 Fire
467 Fairy
468 Bug
469 Grass
470 Ice
471 Ground
472 Ice
473 Normal
474 Psychic
475 Rock
476 Ghost
477 Ice
478 Electric
479 Psychic
480 Psychic
481 Psychic
482 Steel
483 Water
484 Fire
485 Normal
486 Ghost
487 Psychic
488 Water
489 Water
490 Dark
491 Grass
492 Normal
493 Psychic
494 Grass
495 Grass
496 Grass
497 Fire
498 Fire
499 Fire
500 Water
501 Water
502 Water
503 Normal
504 Normal
505 Normal
506 Normal
507 Normal
508 Dark
509 Dark
510 Grass
511 Grass
512 Fire
513 Fire
514 Water
515 Water
516 Psychic
517 Psychic
518 Normal
519 Normal
520 Normal
521 Electric
522 Electric
523 Rock
524 Rock
525 Rock
526 Psychic
527 Psychic
528 Ground
529 Ground
530 Normal
531 Fighting
532 Fighting
533 Fighting
534 Water
535 Water
536 Water
537 Fighting
538 Fighting
539 Bug
540 Bug
541 Bug
542 Bug
543 Bug
544 Bug
545 Grass
546 Grass
547 Grass
548 Grass
549 Water
550 Ground
551 Ground
552 Ground
553 Fire
554 Fire
555 Grass
556 Bug
557 Bug
558 Dark
559 Dark
560 Psychic
561 Ghost
562 Ghost
563 Water
564 Water
565 Rock
566 Rock
567 Poison
568 Poison
569 Dark
570 Dark
571 Normal
572 Normal
573 Psychic
574 Psychic
575 Psychic
576 Psychic
577 Psychic
578 Psychic
579 Water
580 Water
581 Ice
582 Ice
583 Ice
584 Normal
585 Normal
586 Electric
587 Bug
588 Bug
589 Grass
590 Grass
591 Water
592 Water
593 Water
594 Bug
595 Bug
596 Grass
597 Grass
598 Steel
599 Steel
600 Steel
601 Electric
602 Electric
603 Electric
604 Psychic
605 Psychic
606 Ghost
607 Ghost
608 Ghost
609 Dragon
610 Dragon
611 Dragon
612 Ice
613 Ice
614 Ice
615 Bug
616 Bug
617 Ground
618 Fighting
619 Fighting
620 Dragon
621 Ground
622 Ground
623 Dark
624 Dark
625 Normal
626 Normal
627 Normal
628 Dark
629 Dark
630 Fire
631 Bug
632 Dark
633 Dark
634 Dark
635 Bug
636 Bug
637 Steel
638 Rock
639 Grass
640 Flying
641 Electric
642 Dragon
643 Dragon
644 Ground
645 Dragon
646 Water
647 Normal
648 Bug
649 Grass
650 Grass
651 Grass
652 Fire
653 Fire
654 Fire
655 Water
656 Water
657 Water
658 Normal
659 Normal
660 Normal
661 Fire
662 Fire
663 Bug
664 Bug
665 Bug
666 Fire
667 Fire
668 Fairy
669 Fairy
670 Fairy
671 Grass
672 Grass
673 Fighting
674 Fighting
675 Normal
676 Psychic
677 Psychic
678 Steel
679 Steel
680 Steel
681 Fairy
682 Fairy
683 Fairy
684 Fairy
685 Dark
686 Dark
687 Rock
688 Rock
689 Poison
690 Poison
691 Water
692 Water
693 Electric
694 Electric
695 Rock
696 Rock
697 Rock
698 Rock
699 Fairy
700 Fighting
701 Electric
702 Rock
703 Dragon
704 Dragon
705 Dragon
706 Steel
707 Ghost
708 Ghost
709 Ghost
710 Ghost
711 Ice
712 Ice
713 Flying
714 Flying
715 Fairy
716 Dark
717 Dragon
718 Rock
719 Psychic
720 Fire

In [ ]:
'Abra' in typeSeries.index

True

In [ ]:
pokemonSeries[0:5]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [ ]:
pokemonSeries[[5,9,45]]

5     Charizard
9      Caterpie
45        Paras
Name: Pokemon, dtype: object

In [ ]:
pokemonSeries[[0,2,720]] = ['Shashank Raj','Novil', 'Ram']

In [ ]:
pokemonSeries

0      Shashank Raj
1           Ivysaur
2             Novil
3        Charmander
4        Charmeleon
           ...
716         Yveltal
717         Zygarde
718         Diancie
719           Hoopa
720             Ram
Name: Pokemon, Length: 721, dtype: object

In [ ]:
typeSeries.get([0,6,51,720],'Skipped')

Pokemon
Bulbasaur     Grass
Squirtle      Water
Meowth       Normal
Volcanion      Fire
Name: Type, dtype: object

Apply to all values

In [ ]:
typeSeries.apply(len)

Pokemon
Bulbasaur     5
Ivysaur       5
Venusaur      5
Charmander    4
Charmeleon    4
             ..
Yveltal       4
Zygarde       6
Diancie       4
Hoopa         7
Volcanion     4
Name: Type, Length: 721, dtype: int64

JamesBond Dataset

create index column with first values
apply a functionality , 
if year is from 1960 to 1975, Output: "Movie Hit"
                1975 to 2000, 'Flop'
            else 'Avg'

In [ ]:
dfJames = pd.read_csv(r'C:\Users\Miles\Documents\Futurense\Python\Datasets\jamesbond_user.csv', index_col=['Film'])
jamesSeries = dfJames

In [ ]:
def ratings(x):
    rating = None
    if 1960<= x < 1975:
        rating='Movie Hit'
    
    elif x >1975 and x <=2000:
        rating='Movie Flop'

    else:
        rating='Movie Avg'

    return rating

jamesSeries['Year'].apply(ratings)

newdict=dict(jamesSeries['Year'].apply(ratings))

In [ ]:

dic = dict(jamesSeries['Year'].map(ratings))

In [ ]:
dic

{'Dr. No': 'Movie Hit',
 'From Russia with Love': 'Movie Hit',
 'Goldfinger': 'Movie Hit',
 'Thunderball': 'Movie Hit',
 'Casino Royale': Film
 Casino Royale    Movie Hit
 Casino Royale    Movie Avg
 Name: Year, dtype: object,
 'You Only Live Twice': 'Movie Hit',
 "On Her Majesty's Secret Service": 'Movie Hit',
 'Diamonds Are Forever': 'Movie Hit',
 'Live and Let Die': 'Movie Hit',
 'The Man with the Golden Gun': 'Movie Hit',
 'The Spy Who Loved Me': 'Movie Flop',
 'Moonraker': 'Movie Flop',
 'For Your Eyes Only': 'Movie Flop',
 'Never Say Never Again': 'Movie Flop',
 'Octopussy': 'Movie Flop',
 'A View to a Kill': 'Movie Flop',
 'The Living Daylights': 'Movie Flop',
 'Licence to Kill': 'Movie Flop',
 'GoldenEye': 'Movie Flop',
 'Tomorrow Never Dies': 'Movie Flop',
 'The World Is Not Enough': 'Movie Flop',
 'Die Another Day': 'Movie Avg',
 'Quantum of Solace': 'Movie Avg',
 'Skyfall': 'Movie Avg',
 'Spectre': 'Movie Avg'}

In [264]:
myDict = {'Water':'Happy', 'Fire': "Angry"}

# typeSeries.map(myDict)

Tushar: DataFrame

In [270]:
df = pd.read_csv(r'C:\Users\Miles\Documents\Futurense\Python\Datasets\pokemon_data.csv')
df

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [271]:
df.axes

[RangeIndex(start=0, stop=721, step=1),
 Index(['Pokemon', 'Type'], dtype='object')]

In [276]:
df.columns

Index(['Pokemon', 'Type'], dtype='object')

In [277]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pokemon  721 non-null    object
 1   Type     721 non-null    object
dtypes: object(2)
memory usage: 11.4+ KB

Selecting specific Column

In [283]:
df[['Pokemon','Type']]

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

DataSet : NBA

In [291]:
df = pd.read_csv(r'C:\Users\Miles\Documents\Futurense\Python\Datasets\NbaInfo.csv')
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [292]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [293]:
df[['Name','Age']]

              Name   Age
0    Avery Bradley  25.0
1      Jae Crowder  25.0
2     John Holland  27.0
3      R.J. Hunter  22.0
4    Jonas Jerebko  29.0
..             ...   ...
453   Shelvin Mack  26.0
454      Raul Neto  24.0
455   Tibor Pleiss  26.0
456    Jeff Withey  26.0
457            NaN   NaN

[458 rows x 2 columns]

Inserting Column at the end of the df

In [301]:
df['Email'] = 'user@gmail.com'
df

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email
0,Avery Bradley,80,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com
1,Jae Crowder,80,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com
2,John Holland,80,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,user@gmail.com
3,R.J. Hunter,80,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com
4,Jonas Jerebko,80,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,user@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,80,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com
454,Raul Neto,80,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,user@gmail.com
455,Tibor Pleiss,80,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,user@gmail.com
456,Jeff Withey,80,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com
457,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user@gmail.com

Insert at Specified position

In [299]:
df.insert(loc=1,column='WeightUser',value=80)

ValueError: cannot insert WeightUser, already exists

In [302]:
df

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email
0,Avery Bradley,80,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com
1,Jae Crowder,80,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com
2,John Holland,80,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,user@gmail.com
3,R.J. Hunter,80,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com
4,Jonas Jerebko,80,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,user@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,80,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com
454,Raul Neto,80,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,user@gmail.com
455,Tibor Pleiss,80,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,user@gmail.com
456,Jeff Withey,80,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com
457,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user@gmail.com

Adding Values

In [308]:
df['newAge']= df['Age']+4
df

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge
0,Avery Bradley,80,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com,29.0
1,Jae Crowder,80,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com,29.0
2,John Holland,80,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,user@gmail.com,31.0
3,R.J. Hunter,80,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com,26.0
4,Jonas Jerebko,80,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,user@gmail.com,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,80,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com,30.0
454,Raul Neto,80,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,user@gmail.com,28.0
455,Tibor Pleiss,80,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,user@gmail.com,30.0
456,Jeff Withey,80,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com,30.0
457,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user@gmail.com,NaN

Value Counts

In [319]:
df['Team'].value_counts()
df.value_counts(subset='Team')

df.value_counts(subset='Team',normalize=True)

Team
New Orleans Pelicans      0.041575
Memphis Grizzlies         0.039387
New York Knicks           0.035011
Milwaukee Bucks           0.035011
Atlanta Hawks             0.032823
Utah Jazz                 0.032823
Toronto Raptors           0.032823
San Antonio Spurs         0.032823
Sacramento Kings          0.032823
Portland Trail Blazers    0.032823
Phoenix Suns              0.032823
Philadelphia 76ers        0.032823
Oklahoma City Thunder     0.032823
Boston Celtics            0.032823
Miami Heat                0.032823
Los Angeles Lakers        0.032823
Los Angeles Clippers      0.032823
Indiana Pacers            0.032823
Houston Rockets           0.032823
Golden State Warriors     0.032823
Detroit Pistons           0.032823
Denver Nuggets            0.032823
Dallas Mavericks          0.032823
Cleveland Cavaliers       0.032823
Chicago Bulls             0.032823
Charlotte Hornets         0.032823
Brooklyn Nets             0.032823
Washington Wizards        0.032823
Minnesota Timberwolves    0.030635
Orlando Magic             0.030635
dtype: float64