In [7]:
print('Hello World!')

Hello World!

In [8]:
# Age is a object of class int
age=60
print(type(age))

<class 'int'>

In [9]:
# memory location
id(age)

140728480819848

In [11]:
# to remove reference of a variable - to delete
del age
print(age)

NameError: name 'age' is not defined

In [12]:
# String, char
name= 'Shashank'

In [15]:
# multi-line string
address= """this is 
the 
address"""

In [20]:
# String Interpolation or formating
age=60
print('my age is', age)

print(f'my age id {age}')

my age is 60
my age id 60

In [21]:
year=2023
com='Miles'
print(f'my company is {com} and year is {year}')

my company is Miles and year is 2023

In [22]:
username='surya'
msg=f'hey user {username}'

print(msg)

hey user surya

In [24]:
username='aman'
print(msg)

hey user surya

In [27]:
# format
print('name {} from {}'.format('tushar','Rajasthan'))

print('name {0} from {1}'.format('tushar','Rajasthan'))

print('name {1} from {0}'.format('tushar','Rajasthan'))

name tushar from Rajasthan
name tushar from Rajasthan
name Rajasthan from tushar

In [28]:
# operator precedence
# ** => exponential
# * / // , % (same priority)
# + - 


# Left to right

In [37]:
# bitwise - anything which works on 0 and 1 
# and or, xor, right left shift

print(10 & 9)
print(10 | 9)

#bitwise right & left shift
print(11>>1)
print(19<<2)

8
11
5
76

In [38]:
# number /2**bit
11/2**1

5.5

In [48]:
# membership
print('S' in 'shashank')

16  not in [10,16,20]

False

False

In [69]:
# take two numbers from user, check belongs to int do arithmetic operation, otherwise give
# values are not integer

# n1 = input()
# n2 = input()

n1 = 200
n2 = 50

if (type(n1) is int and type(n2) is int):
    print(n1+n2)
    print(n1-n2)

else:
    print('Values are not integer')

Values are not integer

In [70]:
# slicing operator
city='BANGLORE'

city[-1:-6:-1]

'EROLG'

In [72]:
# for loop
for count in range(30,10,-3):
    print(count)

30
27
24
21
18
15
12

In [82]:
# while Loop

# count=0
# while(count<10):
#     print(count,end=' ')
#     count+=1

'A'

"'a'"

In [112]:
#take a input as a password from a user and validate below conditions:
# 1. In the password there should be one capital letter
# 2. At least one small letter
# 3. there shpould be one number from 0 to 6
# 4. also contaom special characters @#

vpass = input()
count=0
capletters='ABCEFGHIJKLMNOPQRSTUVWXYZ'
smallletters = 'abcdefghijklmnopqrstuvwxyz'
num = '123456'
splchars = '@#$'
passw=False
def check_password(vpass):
    if(count<3):
        for i in vpass:
            if (i in capletters):
                passw=True
            else:
                passw=False
                return 'No Capital letters'

            if (i in smallletters):
                passw=True
            else:
                passw=False
                return 'No small letters'
                if (i in num):
                    passw=True
                else:
                    passw=False
                    return 'No Numbers from 1 to 6'

                if (i in splchars):
                    return 'Correct Password'
                else:
                    return 'No Special Characters'
                         
    else:
        return 'Try Limit Exeeded'

check_password(vpass)

'No small letters'

In [111]:
vpass = input()
for i in vpass:
    if ord(i) in range(65,91):
        print(ord(i))
        print('No Capital Letter')

83
No Capital Letter

In [109]:
#take a input as a password from a user and validate below conditions:
# 1. In the password there should be one capital letter
# 2. At least one small letter
# 3. there shpould be one number from 0 to 6
# 4. also contaom special characters @#

vpass = input()
count=0
capletters= [i in range(65,91)]
smallletters = [i in range(97,113)]
num = ['1','2','3','4','5','6']
splchars = ['@','#','$']


passw=False
def check_password(vpass):
    if(count<3):
        for i in vpass:
            n=ord(i)
            if (n in capletters):
                passw=True
                break
            
            if (i in smallletters):
                passw=True
            else:
                passw=False
                return 'No small letters'
                if (i in num):
                    passw=True
                else:
                    passw=False
                    return 'No Numbers from 1 to 6'

                if (i in splchars):
                    return 'Correct Password'
                else:
                    return 'No Special Characters'
                         
    else:
        return 'Try Limit Exeeded'

check_password(vpass)

65

In [1]:
# data type
# list, tuple
# dictionary, set, frozenset

mylist = [10,20,30, 'hey']
type(mylist)

list

In [2]:
mylist[0]=1000

mylist

[1000, 20, 30, 'hey']

In [4]:
mylist[0:2] = [200,300]
mylist

[200, 300, 30, 'hey']

In [5]:
mylist[0:2] = [200,300, 'a']
mylist

[200, 300, 'a', 30, 'hey']

In [6]:
mylist.append('abc')
mylist

[200, 300, 'a', 30, 'hey', 'abc']

In [7]:
mylist.append(['a','r'])
mylist

[200, 300, 'a', 30, 'hey', 'abc', ['a', 'r']]

In [9]:
mylist.extend('goa')
mylist

[200, 300, 'a', 30, 'hey', 'abc', ['a', 'r'], 'g', 'o', 'a']

In [10]:
mylist.extend([10,20,30])
mylist

[200, 300, 'a', 30, 'hey', 'abc', ['a', 'r'], 'g', 'o', 'a', 10, 20, 30]

In [11]:
# list deletion

del mylist[-1]
mylist

[200, 300, 'a', 30, 'hey', 'abc', ['a', 'r'], 'g', 'o', 'a', 10, 20]

In [13]:
mylist.pop(0)
mylist

['a', 30, 'hey', 'abc', ['a', 'r'], 'g', 'o', 'a', 10, 20]

In [14]:
# pop => if not mentioned the index, it will take last element
mylist.pop()
mylist

['a', 30, 'hey', 'abc', ['a', 'r'], 'g', 'o', 'a', 10]

In [15]:
mylist.remove(30) # pass the element
mylist

['a', 'hey', 'abc', ['a', 'r'], 'g', 'o', 'a', 10]

In [16]:
mylist=[10,20,30]
mylist*2

[10, 20, 30, 10, 20, 30]

In [32]:
# tuple
myTuple3 = 10,20
print(type(mytuple))

<class 'tuple'>

In [37]:
myTuple = () #empty tuple
myTuple2 = (10,20)

single element tuple is a integer
we cannot add single element tuple to normal tuple

In [38]:
myTuple+myTuple2

(10, 20)

- Dictionary 
Key : Value
Unordered collection of elements in format of key:value pair

Mutable
key will be unique
Values can be duplicate or unique
Data can be of any Data type mutable or immutable
Key will be immutable

In [40]:
myDict = {'name': 'Tushar', 'age': [16] }
myDict

{'name': 'Tushar', 'age': [16]}

In [48]:
# myDict[0]
myDict["name"] = "Shashank"

In [46]:
myDict['salary'] = 1000000
myDict

{'name': 1000, 'age': [16], 'salary': 1000000}

HELP

In [73]:
help(myDict)

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

Using a list of tuple values

list => tuple =====> Convert to Dictionary

In [74]:
newList = [(10,20),(10,40),(50,60)]

myDict2 = dict(newList)

myDict2

{10: 40, 50: 60}

List of Dictionarys

In [75]:
newList1 = [{'name':'Shashank','marks':100},{'name':'Ram','marks':70},{'name':'Surya','marks':95}]

newList1

[{'name': 'Shashank', 'marks': 100},
 {'name': 'Ram', 'marks': 70},
 {'name': 'Surya', 'marks': 95}]

Values in Dictionary

In [76]:
for i in newList1:
    print(i['marks'])

100
70
95

Key Names

In [77]:
for i in newList1:
    print(i.keys())

dict_keys(['name', 'marks'])
dict_keys(['name', 'marks'])
dict_keys(['name', 'marks'])

Set

In [78]:
mySet={}
print(type(mySet))

<class 'dict'>

In [80]:
mySet = set({})
print(type(mySet))

<class 'set'>

In [81]:
mySet={10,20,30}
mySet

{10, 20, 30}

In [82]:
mySet.add('a')
mySet

{10, 20, 30, 'a'}

In [85]:
mySet.remove('a')
mySet

{10, 20, 30}

In [86]:
mySet.discard('10')
mySet.update

{10, 20, 30}

1. Question - create a set containing multiple elements, check if int or float, find square of update to list.

if we have string data, we need append @gmail.com and update to list again.

In [95]:
newSet = set({10,20,5.2,6.4,'ram','Shashank'})

q1list = []

for i in newSet:
    if type(i) == int:
        q1list.append(i**2)
    elif type(i) == float:
        q1list.append(i**2)
    elif type(i) == str:
        q1list.append(i+'@gmail.com')
    else:
        pass

q1list

['ram@gmail.com',
 400,
 27.040000000000003,
 40.96000000000001,
 100,
 'Shashank@gmail.com']

2.
Create two sets
Use difference method, disjoint method, subnet method, symmetric method and super set

In [99]:
newSet1 = set({10,20,5.2,6.4,'ram','Shashank',68,3.1,542.4})

newSet2 = set({97,84,55.7,58.74,'ram','Shashank',648,43.1})

print(newSet1.difference(newSet2))
print(newSet1.isdisjoint(newSet2))
print(newSet1.issubset(newSet2))
print(newSet1.issuperset(newSet2))
print(newSet1.symmetric_difference(newSet2))

{3.1, 68, 5.2, 6.4, 10, 20, 542.4}
False
False
False
{97, 3.1, 68, 5.2, 6.4, 648, 10, 43.1, 84, 20, 55.7, 58.74, 542.4}

3.
Program input and return all the unique word from the string as string

no special methods should be used.

In [118]:
str1 = 'hey user, we! we we welcome you, hey'

list1= str1.split(' ')
list2=[]

for i in list1:
    if i not in list1:
        list2.append(i)

[]

- Functions
    - Named Block
    - Advantage: Code Usability

list
update - multily by2

In [122]:
mylist=[1,5,1,4,3,5,8,4,7]

def mulFunction(list1):
    for i in range(len(list1)):
        list1[i] = list1[i]*2

    return list1
mulFunction(mylist)
mylist

[2, 10, 2, 8, 6, 10, 16, 8, 14]

- function with any number of arguments
    - return type: tuple

In [127]:
def studentDetail(*detials):
    print(detials, type=(detials))

- function with keynames
    - return type: Dictionary

In [128]:
def studentDetailKey(**detials):
    print(detials, type(detials))

studentDetailKey(name='Shashank')

{'name': 'Shashank'} <class 'dict'>

Question: Calculate LCM

In [8]:


def lcm(x, y):

    g = max(x, y)
    while(True):
        if((g % x == 0) and (g % y == 0)):
            lcm = g
            break
        g += 1

    return lcm

num1 = 54
num2 = 24

print("L.C.M. - ", lcm(num1, num2))
print("H.C.F. - ", (num1*num2)//lcm(num1, num2))

L.C.M. -  216
H.C.F. -  6

- Lamda function

In [7]:
def shashank():
    print ("shashank")

shashank()
x= shashank
x()

shashank
shashank

In [10]:
def joker():
    print (' Hey user Joker! ')

def placement(status,abc):
    print ('calling placement function')
    print(abc)

placement('User Placed',joker())

 Hey user Joker!
calling placement function
None

In [11]:
#Lamda
lambda num: num**3

In [12]:
x=lambda num: num**3
x # x holds the reference of the function

In [13]:
x(10)

1000

Lambda function Call

In [15]:
(lambda a,b: a+b) (10,20)

30

- Map

In [17]:
mylist=[2,3,4,5,6,7,8,9,10]

def squareNo(num1):
    return num1*2

list(map(squareNo,mylist))

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
# map with lambda function

tuple(map(lambda x:x**2, mylist))

(4, 9, 16, 25, 36, 49, 64, 81, 100)

In [70]:
mylist=[{'name':'tushar','marks':[50,50,30,10,52]}, {'name':'Shashank','marks':[65,98,30,60,52]}]
a= lambda x: sum(x)/len(x)

def test(x):
    for i in mylist:
        print ('Avg:',a(i['marks']))

test(mylist)

Avg: 38.4
Avg: 61.0

In [86]:
dict1= {'avg': lambda x: sum(x)/len(x), 'sum': lambda x: sum(x), 'max': lambda x: max(x)}

for i in mylist:
    print(dict1['avg'](i['marks']))

38.4
61.0

In [94]:
inp = input()

if inp == 'avg':
    for i in mylist:
        print(dict1['avg'](i['marks']))

elif(inp=='max'):
    for i in mylist:
        print(dict1['max'](i['marks']))

elif(inp=='sum'):
    for i in mylist:
        print(dict1['sum'](i['marks']))

52
98

In [2]:
inp=input()

for j in dict1:
    if inp==j:
        for i in mylist:
            print(i['name'],'-',dict1[inp](i['marks']))
    else:
        print('Wrong Input')
        break

NameError: name 'dict1' is not defined

98