## Government Hospitals Requirement Analysis

In [ ]:
# The Union of Doctors in its meeting passed a resolution that the government hospitals are lacking in numbers in many states, 
# The government has taken notice of the resolution and has asked for a recommendation for the state where a new government hospital can be set up.

# Use the government hospital data (Data/government_hospitals.csv) to suggest which state the government should create a new hospital.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Problem Statement 13: (Multi-line header)

In [ ]:
# The header in (Data/government_hospitals.csv) is in 2 rows

# States/UTs Rural hospitals Urban hospitals As on
# No. Beds No. Beds

# The headers are required to be edited for ease of future use as well as for the sake of uniformity.
# Import and update the data in a way that it has the following column names

# State/UT
# Rural_Government_Hospitals
# Rural_Government_Beds
# Urban_Government_Hospitals
# Urban_Government_Beds
# Last_Updated

In [3]:
# reading the data
df_govt_hs = pd.read_csv('../Data/government_hospitals.csv',skiprows=[1])
df_govt_hs.head()

,States/UTs,Rural hospitals,Unnamed: 2,Urban hospitals,Unnamed: 4,As on
0,Andhra Pradesh,193,6480,65,16658,01.01.2017
1,Arunachal Pradesh*,208,2136,10,268,31.12.2017
2,Assam,1176,10944,50,6198,31.12.2017
3,Bihar,930,6083,103,5936,31.12.2016
4,Chhattisgarh,169,5070,45,4342,01.01.2016

In [6]:
# renaming the cols
renamed_cols = [
"State/UT",
"Rural_Government_Hospitals",
"Rural_Government_Beds",
"Urban_Government_Hospitals",
"Urban_Government_Beds",
"Last_Updated"
]
df_govt_hs = df_govt_hs.rename(columns={val:renamed_cols[i] for i,val in enumerate(df_govt_hs.columns)})

In [7]:
df_govt_hs.head()

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Andhra Pradesh,193,6480,65,16658,01.01.2017
1,Arunachal Pradesh*,208,2136,10,268,31.12.2017
2,Assam,1176,10944,50,6198,31.12.2017
3,Bihar,930,6083,103,5936,31.12.2016
4,Chhattisgarh,169,5070,45,4342,01.01.2016

### Problem Statement 14: (Data update and code reuse)

In [ ]:
# The ”Last_Updated” column contains a date that is in the format DD.MM.YYYY but in the future, 
# the date is required in a different format (YYYY-MM-DD) update the date to the required format.

# The State/UT names have some different formats compared to other census and housing data. 
# Fix those issues using the function created earlier. If the function created earlier for all_hospitals cannot be used for 
# government_hospital then edit the function so that it can be used for both.

# Create a new file “government_hospital.csv” in the “Clean” folder and save all the government hospital data after the update.

In [9]:
df_govt_hs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   State/UT                    37 non-null     object
 1   Rural_Government_Hospitals  37 non-null     int64
 2   Rural_Government_Beds       37 non-null     int64
 3   Urban_Government_Hospitals  37 non-null     int64
 4   Urban_Government_Beds       37 non-null     int64
 5   Last_Updated                36 non-null     object
dtypes: int64(4), object(2)
memory usage: 1.9+ KB

In [18]:
df_govt_hs['Last_Updated'] = pd.to_datetime(df_govt_hs['Last_Updated'])#,format='DD.MM.YYYY')
df_govt_hs.head(3)

C:\Users\miles.MILE-BL-4766-LA.000\AppData\Local\Temp\ipykernel_19952\762687955.py:1: UserWarning: Parsing '31.12.2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_govt_hs['Last_Updated'] = pd.to_datetime(df_govt_hs['Last_Updated'])#,format='DD.MM.YYYY')
C:\Users\miles.MILE-BL-4766-LA.000\AppData\Local\Temp\ipykernel_19952\762687955.py:1: UserWarning: Parsing '31.12.2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_govt_hs['Last_Updated'] = pd.to_datetime(df_govt_hs['Last_Updated'])#,format='DD.MM.YYYY')
C:\Users\miles.MILE-BL-4766-LA.000\AppData\Local\Temp\ipykernel_19952\762687955.py:1: UserWarning: Parsing '30.12.2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_govt_hs['Last_Updated'] = pd.to_datetime(df_govt_hs['Last_Updated'])#,format='DD.MM.YYYY')
C:\Users\miles.MILE-BL-4766-LA.000\AppData\Local\Temp\ipykernel_19952\762687955.py:1: UserWarning: Parsing '31.12.2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  df_govt_hs['Last_Updated'] = pd.to_datetime(df_govt_hs['Last_Updated'])#,format='DD.MM.YYYY')

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Andhra Pradesh,193,6480,65,16658,2017-01-01
1,Arunachal Pradesh*,208,2136,10,268,2017-12-31
2,Assam,1176,10944,50,6198,2017-12-31

In [26]:
# The State/UT names have some different formats compared to other census and housing data. 

df_cens = pd.read_csv('../Clean_data/Census_cleaned.csv')
df_cens.head(3)

,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,Households_Rural,Urban_Households,Households,Young_and_Adult,Middle_Aged,Senior_Citizen,Age_Not_Stated
0,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,0,282823.0,156831.0,158438.0,NaN,0,600759.0,178435.0,89679.0,1481.0
1,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,0,207741.0,127908.0,160649.0,27190.0,0,503223.0,160933.0,88978.0,611.0
2,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,0,62834.0,30936.0,36920.0,17474.0,0,70703.0,41515.0,NaN,250.0

In [35]:
df_govt_hs['State/UT'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh*', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa*', 'Gujarat', 'Haryana*', 'Himachal Pradesh*',
       'Jammu & Kashmir', 'Jharkhand', 'Karnataka*', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya*',
       'Mizoram*', 'Nagaland', 'Odisha*', 'Punjab*', 'Rajasthan',
       'Sikkim*', 'Tamil Nadu*', 'Telangana*', 'Tripura*',
       'Uttar Pradesh*', 'Uttarakhand', 'West Bengal',
       'Andaman & Nicobar Islands', 'Chandigarh', 'Dadra & Nagar Haveli*',
       'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry', 'INDIA'],
      dtype=object)

In [34]:
df_govt_hs[~df_govt_hs['State/UT'].apply(lambda x: x.replace('*','').upper()).isin(df_cens['State/UT'].unique())]['State/UT']

9               Jammu & Kashmir
29    Andaman & Nicobar Islands
31        Dadra & Nagar Haveli*
32                  Daman & Diu
36                        INDIA
Name: State/UT, dtype: object

In [38]:

df_govt_hs[~df_govt_hs['State/UT'].apply(lambda x: x.replace('*','').replace('&','and').upper()).isin(df_cens['State/UT'].unique())]['State/UT']

36    INDIA
Name: State/UT, dtype: object

In [ ]:
# def update_st_ut(df):
#     df = df.apply(lambda x:  x.upper().replace('&', 'AND').replace('*','')
#                             if x.upper().replace('&', 'AND').replace('*','') in df_cens['State/UT'].unique()
#                             else x.upper())
#     return df

In [42]:
# updating the state/ut names according to the 
df_govt_hs['State/UT'] = df_govt_hs['State/UT'].apply(lambda x: x.replace('*','').replace('&','and').upper())
df_govt_hs.head(4)

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,ANDHRA PRADESH,193,6480,65,16658,2017-01-01
1,ARUNACHAL PRADESH,208,2136,10,268,2017-12-31
2,ASSAM,1176,10944,50,6198,2017-12-31
3,BIHAR,930,6083,103,5936,2016-12-31

In [41]:
df_cens['State/UT'].unique()

array(['JAMMU AND KASHMIR', 'HIMACHAL PRADESH', 'PUNJAB', 'CHANDIGARH',
       'UTTARAKHAND', 'HARYANA', 'DELHI', 'RAJASTHAN', 'UTTAR PRADESH',
       'BIHAR', 'SIKKIM', 'ARUNACHAL PRADESH', 'NAGALAND', 'MANIPUR',
       'MIZORAM', 'TRIPURA', 'MEGHALAYA', 'ASSAM', 'WEST BENGAL',
       'JHARKHAND', 'ODISHA', 'CHHATTISGARH', 'MADHYA PRADESH', 'GUJARAT',
       'DAMAN AND DIU', 'DADRA AND NAGAR HAVELI', 'MAHARASHTRA',
       'TELANGANA', 'ANDHRA PRADESH', 'KARNATAKA', 'GOA', 'LAKSHADWEEP',
       'KERALA', 'TAMIL NADU', 'PUDUCHERRY',
       'ANDAMAN AND NICOBAR ISLANDS'], dtype=object)

In [43]:
df_govt_hs['State/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU AND KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TELANGANA', 'TRIPURA', 'UTTAR PRADESH',
       'UTTARAKHAND', 'WEST BENGAL', 'ANDAMAN AND NICOBAR ISLANDS',
       'CHANDIGARH', 'DADRA AND NAGAR HAVELI', 'DAMAN AND DIU', 'DELHI',
       'LAKSHADWEEP', 'PUDUCHERRY', 'INDIA'], dtype=object)

In [44]:
# government_hospital.csv
# Saving the file 
save_path = '../Clean_data/government_hospital.csv' 
df_govt_hs.to_csv(save_path, index=False)

### Problem Statement 15: (Government healthcare facility disparity)

In [45]:
# Since the resources are limited, it is required to identify the region which lacks the healthcare facility the most for 
# creating new government hospitals.

# An idea was suggested* that first the three States/UTs which have the least amount of beds (in all hospitals government and private) 
# for their population is identified. Among those three the state which has the least number of government hospitals can be recommended for 
# setting up a new government hospital.

In [52]:
df_govt_hs['Total_beds'] = df_govt_hs['Urban_Government_Beds'] + df_govt_hs['Rural_Government_Beds']
df_govt_hs['Total_Hospitals'] = df_govt_hs['Rural_Government_Hospitals'] + df_govt_hs['Urban_Government_Hospitals']
df_govt_hs.head(3)

,State/UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated,Total_beds,Total_Hospitals
0,ANDHRA PRADESH,193,6480,65,16658,2017-01-01,23138,258
1,ARUNACHAL PRADESH,208,2136,10,268,2017-12-31,2404,218
2,ASSAM,1176,10944,50,6198,2017-12-31,17142,1226

In [55]:
df_govt_hs.groupby('State/UT').sum().sort_values(['Total_beds','Total_Hospitals'])[['Total_beds', 'Total_Hospitals']].iloc[:5,:]

                             Total_beds  Total_Hospitals
State/UT
DAMAN AND DIU                       240                5
LAKSHADWEEP                         300                9
DADRA AND NAGAR HAVELI              589               11
CHANDIGARH                          778                4
ANDAMAN AND NICOBAR ISLANDS        1075               30